<div class="span8 questions-list">
  <ul class="nav nav-tabs nav-stacked">
    <%= render( :partial => 'questions/question' , :collection => @notices.map{|n| n.try :find_ref_object} )%>
  </ul>
</div>

