  <div class="span8 questions-list">
     <ul class="nav nav-tabs nav-stacked">
      <% @questions.each do |q| %>
         <%= render( :partial => 'questions/question' , :collection => @questions )%>
      <% end -%>
     </ul>
  </div>
