<div class="container">

    <%# 全校最热门课程:
    <%# <% @hot_courses.each do |hc| %>
    <%#   <li><%= link_to hc.name, hc%></li>
    <%# <% end %>
    你的角色是

    <% if current_user %>
    <%= current_user.role %>
    <% else %>
    游客
    <%end %>


  <%= render 'questions_list' %>
  <%= render 'user_sidebar' %>
