<div class="container">
  
  <div class="span8">
    asdasdasdasdasdads
    <% @questions.each do |q| %>
      <%= q.title %>
    <% end -%>
  </div>

  <div class="span3">
    <ul class="nav nav-lists">
    <% if user_signed_in? %>
     <li><%= @current_user.name  %></li>
     <li>asked_questions:<%= @current_user.asked_questions.count%></li>
     <li>answers:<%= @current_user.answers.count%></li>
     
     

    <% end -%>
  </ul>
  </div>

</div>