
body{
  background: #fff;
}


.navbar{
	box-shadow:0 2px 5px #ccc;
}

.dropdown-menu a{
	padding-left:20px;
}

.account-form{
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;

}

.right-sidebar{
	background: white;
	border-radius: 8px;
	padding: 5px;
	box-shadow: 2px 2px 5px #e8e8e8;
}

.user-info-h3{
	font-size: 14px;
	color:black;
	font-weight: bold;
	margin-right: 10px;
}

.user-avatar{
	width:50px;
	height:50px;
	border-radius: 5px;
}

td{
	background: white;
}

.landing-page{
  text-align:center;
  padding-top:100px;
}

.landing-page h1.big {
  color: rgb(69, 127 ,155);
  font-size:60px;
  text-shadow: 10px 2px #ddd;
}

.landing-page .info{
  margin-top: 2em;
  color: #ddd;
}

.btn-container{
  width: 300px;
  margin: 60px auto;
}

.btn-container .my-btn{
  padding:20px;
  color:white;
  a{
    text-decoration: none;
    color: #ddd;
    font-size: 70px;
  }
  a:hover{
    color: #ccc;
  }
  a:active{
    color: #aaa;
  }
}

