// Place all the styles related to the majors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses-list{
	background:white;
	padding:10px;
	box-shadow:2px 2px 5px #e8e8e8;
	border-radius:8px;
}