.question{
	height: 55px;
	border: 1px solid #e2e2e2;
	background: white;
	padding:5px;

	.question-section{
		display: inline-block;

		margin-left:10px;
		float:left;

		.question-title{
			font-size:16px;
			font-weight:bold;
			margin-bottom:5px;
		}

		.question-details{
			font-size:11px;
			color:#787878;
		}
	}

	.question-has-answer{
		float:right;
		margin-top:15px;
		margin-right:10px;
	}
}

.question:first-child{
	border-radius: 5px 5px 0 0;
}

.question:last-child{
	border-radius:  0 0 5px 5px;
}

.question > img{
	float:left;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-top:2px;
	display: inline-block;
}

.questions-list{

	box-shadow:2px 2px 5px #e8e8e8;
	margin-bottom:30px;
	ul{
		margin-bottom:0px;
	}

}
.single-question{
	background:white;
	padding:10px;
	border-radius:5px;
	box-shadow:2px 2px 5px #e8e8e8;

	.question-header{
		
		margin-left:0 !important;
		margin-bottom:20px;
		padding:10px;
		.question-left-header{

		}
		.question-title{
			font-size:18px;
		}
	}
	.question-right-avatar{
		img{
			width:70px;
			height:70px;
			border-radius:5px;
		}
	}
}

.question-add-answer{
	margin-top:30px;
	background:white;
	padding:10px;
	border-radius:5px;
	box-shadow:2px 2px 5px #e8e8e8;
}